{%load static%}
<section class="cardapio-descricao">
    <h1>Almoço de hoje:</h1>
    <div class="cardapio-descricao-items" style="background: url({%static 'home/svg/Vector.svg'%}); background-repeat: no-repeat">
        <h3>Prato Principal:</h3>
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
        </ul>
    </div>
</section>
<section class="cardapio-imagem">
    <img src={%static "home/svg/Panela-de-Barro-Feijoada-PNG 1.svg"%} alt="" srcset="">
</section>