
@media screen and (max-width: 792px){
    .logo-container{
        width: 50%;
        align-items: center;
    }
    .logo-container a{
        width: 100%;
        align-items: center;
    }
    .logo-box-up{
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1rem;
    }
    .trapezoid{
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    }
}