@media  screen and (max-width: 998px) {
    .logo-container{
        width: 20rem;
    }
    header{
        justify-content: center;
    }
    header a{
        width: 20rem;
    }
    .logo-box-up{
        width: 20rem;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-self: center;
    }
    .logo-box-down{
        width: 20rem;
    }
    .trapezoid{
        height: 60rem;
        width: 100%;
        display: flex;
        flex: row;
        justify-content: center;
    }
    .nav-container{
        display: none;
    }
    .cardapio-container{
        top: 4rem;
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        align-items: center;
        height: 51rem;
    }
    .cardapio-descricao{
        align-items: center;
    }
    .cardapio-descricao-items{
        margin-left: 1.5rem;
        width: 20rem;
        height: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
        padding-bottom: 0;
        padding-top: 0;
    }
    .cardapio-descricao h1{
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
    .cardapio-descricao-items h3{
        font-size: 1.7rem;
        padding-left: 1.7rem;
    }
    .cardapio-imagem img{
        width: 360px;
        height: 360px;
    }

    .card-noticia:hover{
        transform: scale(1);
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 2rem
    }
    .footer-paginas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-paginas ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-projeto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-projeto ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}