.cardapio-container{
    font-family: var(--font-cardapio);
    position: absolute;
    top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 35rem;
    background-color: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid #111;
}

.cardapio-descricao{
    width: 20rem;
}
.cardapio-descricao h1{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    padding: 0;
    width: 50%;
}
.cardapio-descricao-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style:circle;
    width: 100%;
    height: 20rem;
}

.cardapio-descricao-items ul{
    padding-left: 4rem;
}
.cardapio-descricao-items h3{
    height: 1rem;
    font-size: 2rem;
    padding-left: 2rem;
}
.cardapio-imagem {
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem
}
.cardapio-imagem img{
    width: 480px;
    height: 480px;
}

.main-noticias{
    padding-bottom: 2rem;
    border-bottom: 1px solid #111;
    width: 80%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.titulo-noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 1.5rem;
    border: 1px solid #111;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
}

.move-scroll-container{
    justify-self: flex-end;
}
.move-scroll-left, .move-scroll-right{
    cursor: pointer;
    border: 0;
    border-radius: 10rem;
    outline: none;
    width: 3rem;
    height: 3rem;
    background-color: var(--background-pattern);
    transition: all 300ms ease-in-out;
    
}
.move-scroll-left{
    margin-right: 1rem;
}
.move-scroll-left:hover{
    background-color: var(--lvl3);
    transform: scale(1.1);
}
.move-scroll-right:hover{
    background-color: var(--lvl3);
    transform: scale(1.1);
}
.cards-container{
    display: grid;
    grid-auto-flow: column;         
    grid-auto-columns: 1fr;
    padding: 1rem;
    width: 100%;
    height: 30rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    margin-top: -1rem;
}

.cards-container::-webkit-scrollbar {
    width: 1px;               
    height: 10px;
    transition: all 300ms ease-in-out;
}

.cards-container::-webkit-scrollbar-track {
    transition: all 300ms ease-in-out;
    background: var(--lvl4);        
}

.cards-container::-webkit-scrollbar-thumb {
    transition: all 300ms ease-in-out;
    background-color: var(--background-pattern);   
    border-radius: 10rem;  
}
.card-noticia{
    list-style: none;
    padding: 2rem 1rem;
    color: #111;
    width: 20rem;
    height: 25rem;
    transition: all 300ms ease-in-out;
    margin: 0 0.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.separator{
    width: 1px;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.separator div{
    background: #111;
    height: 80%;
    width: 100%;
}
.card-noticia input{
    display: none;
}
.card-noticia:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #111;
}
.card-noticia-imagem{
    width: 267px;
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-noticia-imagem img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.card-noticia-descricao{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-noticia-descricao h2{
    height: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
}
.card-noticia-descricao p{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    padding: 0.5rem;
}
.card-date{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    font-size: 18px;
    font-weight: 400;
}