@media screen and (max-width: 1200px) {
    .description-container {
        top: 0rem;
        margin-top: 0;
        align-items: center;
        height: 44rem;
    }

    .description {
        width: 20rem;
    }

    .description-items {
        height: 18rem;
    }

    .description h1 {
        font-size: 45px
    }

    .description-imagem {
        margin-top: 2.5rem;
        height: calc(730px - 66px);
        width: 730px;
    }
}