@media screen and (max-width: 792px) {
    .description-imagem {
        margin-top: 1;
        height: calc(515px - 66px);
        width: 515px;
    }

}

@media screen and (max-width: 750px) {
    .notices-header {
        flex-direction: column;
        justify-content: space-around;
        height: 8rem;
    }

    .titulo-noticias {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 2rem;
    }

    .duvidas-pesquisa {
        width: 20rem;
    }
}

@media screen and (max-width: 570px) {
    .description-imagem {
        width: auto;
        height: auto;
    }
}