{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href={% static 'contato/css/minw1201px.css' %}>
    {%include "partials/head.html"%}
    <link rel="stylesheet" href={% static 'contato/css/maxw1200px.css' %}>
    <link rel="stylesheet" href={% static 'contato/css/maxw998px.css' %}>
    <link rel="stylesheet" href={% static 'contato/css/maxw830px.css' %}>
    <link rel="stylesheet" href={% static 'contato/css/maxw490px.css' %}>
    <title>Contato</title>
</head>

<body>
    <div class="header-container">
        {%include "partials/header.html"%}
        <div class="trapezoid">
        </div>
        <div class="duvidas-container">
            {%include "contato/partials/duvidas.html"%}
        </div>
    </div>
    {% include "partials/menu.html" %}
    <div id="main_container">
        {%include "contato/partials/formulario.html" %}
    </div>

    {%include "partials/footer.html"%}
    <script src={% static 'global/js/script.js' %}></script>
</body>

</html>