@media screen and (max-width: 998px) {
    .logo-container {
        width: 20rem;
    }
    .button-open-menu {
        display: block;
        position: fixed;
        width: 5px;
        height: 100vh;
        top: 0;
        left: 0;
        background: var(--background-menu);
        border-radius: 0 10rem 10rem 0;
        z-index: 9;
    }
    .button-open-menu_icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        background: var(--background-menu);
        border-radius: 0 0.5rem 0rem 0;
        padding: 0.5rem;
        top: 5rem;
        left: 0;
        font-size: 2rem;
        color: #fff;
        width: 2rem;
        height: 2rem;
        z-index: 9;
    }
    .button-open-menu_icon_line {
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin: 0.2rem 0;
    }
    .menu-mobile {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        background: var(--background-menu);
        overflow-x: hidden;
        transition: all 300ms;
        width: 0;
        height: 100%;
        z-index: 9;
    }
    .menu-options {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .menu-options__item {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        padding: 1rem 0rem;
        border-bottom: 1px solid #fff;
    }
    .close-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem 5rem 1rem 0rem;
    }
    .close-mobile-menu {
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem;
        padding: 1rem -3rem;
    }
    .menu-options__item a {
        text-decoration: none;
        color: var(--lvl1);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header {
        position: absolute;
        z-index: 1;
        justify-content: center;
    }
    header a {
        width: 90%;
    }
    .logo-box-up {
        width: 80%;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-self: center;
    }
    .logo-box-up h2 {
        width: 55%;
    }
    .logo-box-up i {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 45%;
    }
    .logo-box-down {
        width: 20rem;
    }
    .trapezoid {
        height: 60rem;
        width: 100%;
        display: flex;
        flex: row;
        justify-content: center;
    }
    .nav-container {
        display: none;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 2rem
    }
    .footer-paginas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-paginas ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-projeto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-projeto ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}