:root{
    --lvl1: #fff;
    --lvl2: #77181e;
    --lvl3: #a92727;
    --lvl4: #c6d6d6;
    --lvl5: #dee7e7;
    --lvl6: #fe6c2b;
    --background-pattern: #AF4040;
    --background-menu: #340016;
    --font-headings: 'Fredoka One';
    --font-pattern: 'Inter';
    --font-cardapio: 'JetBrains Mono';
    --font-color-1: $111;
    --font-primary: sans-serif;
    --spacing-gutter-large: 4rem;
}

body{
    background-color: var(--lvl1);
    color: var(--lvl8);
    font-family: var(--font-pattern);
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
a{
    text-decoration: none;
}
i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-open-menu{
    display: none;
    
}

.button-open-menu__icon{
    display: none;
}
/* .menu-mobile{
    display: none;
} */
.button-open-menu__icon__line{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 0.2rem 0;
}
.menu-options{
    display: none;
}
.header-container{
    background: var(--background-pattern);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lvl1);
    color: var(--lvl1);
    overflow: hidden;
}
.trapezoid{
    background: var(--background-pattern);
    width: 100%;
    height: 45rem;
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header{
    background: var(--background-pattern);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex: row;
    width: 100%;
    height: 6rem;
    align-items: center;
    padding: 0rem 0rem 0rem 0rem;
    justify-content: space-evenly;
    background: transparent;
}

.logo-container{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.logo-container a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.logo-box-up{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight:900;
    color: white;
}
.logo-box-up i{
    width: 15%;
    margin-right: 1rem;
}
.logo-box-up h2{
    width: 85%;
    font-family: var(--font-headings);
}
.logo-box-down{
    width: 90%;
    height: 1px;
    background-color: #fff;
}
.logo-container i{
    font-size: 2rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav li{
    height: 3rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

nav li a{
    font-family: var(--font-pattern);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: #fff;
}

nav li:hover{
    border: 1.5px solid #fff;
    border-radius:1rem
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 800px;
}

.nav-home{
    border-left: 1.5px solid #fff;
}
.nav-contato{
    border-right: 1.5px solid #fff;
}

.nav-user{
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 10rem;
    height: 4rem;
    padding: 0 1rem;
    border-bottom: 1px solid #fff;
}
.nav-user i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-user-button{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardapio-container{
    font-family: var(--font-cardapio);
    position: absolute;
    top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 35rem;
    background-color: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid #111;
}

.cardapio-descricao{
    width: 20rem;
}
.cardapio-descricao h1{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    padding: 0;
    width: 50%;
}
.cardapio-descricao-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style:circle;
    width: 100%;
    height: 20rem;
}

.cardapio-descricao-items ul{
    padding-left: 4rem;
}
.cardapio-descricao-items h3{
    height: 1rem;
    font-size: 2rem;
    padding-left: 2rem;
}
.cardapio-imagem {
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem
}
.cardapio-imagem img{
    width: 480px;
    height: 480px;
}
.description-container{
    width: 100%;
    height: 35rem;
    position: absolute;
    top: 10rem;
    display: flex;
    font-family: var(--font-pattern);
}

.description-text{
    z-index: 8;
    position: absolute;
    top: -2rem;
    left: 5%;
    width: 25rem;
    text-align: center;
}
.description-image{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}

.description-image img{
    clip-path: polygon(60% 0%, 100% 0%, 100% 67%, 0 67%);
    height: 52.25rem;
    width: 100%;
}

#main_container{
    top:42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-noticias{
    padding-bottom: 2rem;
    border-bottom: 1px solid #111;
    width: 80%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.titulo-noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 1.5rem;
    border: 1px solid #111;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
}

.move-scroll-container{
    justify-self: flex-end;
}
.move-scroll-left, .move-scroll-right{
    cursor: pointer;
    border: 0;
    border-radius: 10rem;
    outline: none;
    width: 3rem;
    height: 3rem;
    background-color: var(--background-pattern);
    transition: all 300ms ease-in-out;
    
}
.move-scroll-left{
    margin-right: 1rem;
}
.move-scroll-left:hover{
    background-color: var(--lvl3);
    transform: scale(1.1);
}
.move-scroll-right:hover{
    background-color: var(--lvl3);
    transform: scale(1.1);
}
.cards-container{
    display: grid;
    grid-auto-flow: column;         
    grid-auto-columns: 1fr;
    padding: 1rem;
    width: 100%;
    height: 30rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    margin-top: -1rem;
}
.devs-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: auto;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    padding: 2rem 0;

}

.dev-cards{
    font-family: var(--font-pattern);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.dev-cards h1{
    font-family: var(--font-headings);
    font-size: 2rem;
}

.dev-card{
    margin-top: 4em;
    list-style: none;
    padding: 2rem 1rem;
    color: #111;
    width: 15rem;
    height: 35rem;
    transition: all 300ms ease-in-out;
    margin: 0 0.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.dev-card img{
    width: 12rem;
    height: 15rem;
    border-radius: 50%;
}

.dev-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.dev-infos i{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 3rem;
    color: var(--background-pattern)
}
.cards-container::-webkit-scrollbar {
    width: 1px;               
    height: 10px;
    transition: all 300ms ease-in-out;
}

.cards-container::-webkit-scrollbar-track {
    transition: all 300ms ease-in-out;
    background: var(--lvl4);        
}

.cards-container::-webkit-scrollbar-thumb {
    transition: all 300ms ease-in-out;
    background-color: var(--background-pattern);   
    border-radius: 10rem;  
}
.card-noticia{
    list-style: none;
    padding: 2rem 1rem;
    color: #111;
    width: 20rem;
    height: 25rem;
    transition: all 300ms ease-in-out;
    margin: 0 0.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.separator{
    width: 1px;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.separator div{
    background: #111;
    height: 80%;
    width: 100%;
}
.card-noticia input{
    display: none;
}
.card-noticia:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #111;
}
.card-noticia-imagem{
    width: 267px;
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-noticia-imagem img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.card-noticia-descricao{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-noticia-descricao h2{
    height: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
}
.card-noticia-descricao p{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    padding: 0.5rem;
}
.card-date{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    font-size: 18px;
    font-weight: 400;
}
footer{
    font-family: var(--font-headings);
    padding: 0;
    color: white;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--background-pattern);
    height: 14rem;
}

.footer-logo{
    margin-top: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    height: 80%;
}
.footer-paginas{
    padding: 0;
    height: 80%;
}
.footer-paginas ul{
    padding: 0;
}
.footer-paginas h4{
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
}
.footer-paginas ul li{
    list-style: none;
}
.footer-paginas ul li a{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}
.footer-projeto{
    padding: 0;
    height: 80%;
}
.footer-projeto ul{
    height: 80%;
    padding: 0;
}
.footer-projeto h4{
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}
.footer-projeto ul li{
    font-weight: 300;
    list-style: none;
}
.footer-projeto ul li a{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}
.footer-redes-socias{
    padding: 0;
    height: 80%;
    width: 12rem;
    text-align: center;
}
.footer-redes-socias ul{
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-redes-socias h4{
    font-weight: 600;
    text-decoration: underline;
}
.footer-redes-socias ul li{
    list-style: none;
    transition: all 300ms ease-in-out;
}
.footer-redes-socias ul li:hover{
    transform: scale(1.2);
}
.footer-redes-socias ul li a{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}
footer p{
    text-align: center;
    height: 1rem;
}









