:root {
    --lvl1: #fff;
    --lvl2: #276c65;
    --lvl3: #276c65;
    --lvl4: #c6d6d6;
    --lvl5: #dee7e7;
    --lvl6: #fe6c2b;
    --background-pattern: #23998e;
    --background-menu: #1d5e69;
    --font-headings: 'Fredoka One';
    --font-pattern: 'Inter';
    --font-cardapio: 'JetBrains Mono';
    --font-color-1: $111;
    --font-primary: sans-serif;
    --spacing-gutter-large: 4rem;
}

body {
    background-color: var(--lvl1);
    color: var(--lvl8);
    font-family: var(--font-pattern);
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

a {
    text-decoration: none;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-open-menu {
    display: none;
}

.button-open-menu__icon {
    display: none;
}

.button-open-menu__icon__line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 0.2rem 0;
}

.menu-options {
    display: none;
}

.header-container {
    background: var(--background-pattern);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lvl1);
    color: var(--lvl1);
    overflow: hidden;
}

.trapezoid {
    background: var(--background-pattern);
    width: 100%;
    height: 45rem;
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    background: var(--background-pattern);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex: row;
    width: 100%;
    height: 4.2rem;
    align-items: center;
    padding: 0rem 0rem 0rem 0rem;
    justify-content: space-evenly;
    /* background: transparent; */
    z-index: 9;
}

.logo-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.logo-container a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logo-box-up {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    color: white;
}

.logo-box-up i {
    width: 15%;
    margin-right: 1rem;
}

.logo-box-up h2 {
    width: 85%;
    font-family: var(--font-headings);
}

.logo-box-down {
    width: 90%;
    height: 1px;
    background-color: #fff;
}

.logo-container i {
    font-size: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav li {
    height: 3rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

nav li a {
    font-family: var(--font-pattern);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: #fff;
}

nav li:hover {
    border: 1.5px solid #fff;
    border-radius: 1rem;
}

nav {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 800px;
}

.nav-home {
    border-left: 1.5px solid #fff;
}

.nav-contato {
    border-right: 1.5px solid #fff;
}

.nav-user {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 10rem;
    height: 4rem;
    padding: 0 1rem;
    border-bottom: 1px solid #fff;
}

.nav-user i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-user-button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_container {
    top: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.move-scroll-container {
    width: 90%;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.move-scroll-left,
.move-scroll-right {
    cursor: pointer;
    border: 0;
    border-radius: 10rem;
    outline: none;
    width: 3rem;
    height: 3rem;
    background-color: var(--background-pattern);
    transition: all 300ms ease-in-out;
}

.move-scroll-left {
    margin-right: 1rem;
}

.move-scroll-left:hover {
    background-color: var(--lvl3);
    transform: scale(1.1);
}

.move-scroll-right:hover {
    background-color: var(--lvl3);
    transform: scale(1.1);
}

.move-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.move-disabled:hover {
    transform: scale(1);
}

footer {
    font-family: var(--font-headings);
    padding: 0;
    color: white;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--background-pattern);
    height: 14rem;
}

.footer-logo {
    margin-top: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    height: 80%;
}

.footer-paginas {
    padding: 0;
    height: 80%;
}

.footer-paginas ul {
    padding: 0;
}

.footer-paginas h4 {
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
}

.footer-paginas ul li {
    list-style: none;
}

.footer-paginas ul li a {
    font-size: 18px;
    /* font-weight: 100; */
    color: #fff;
    text-decoration: none;
}

.footer-projeto {
    padding: 0;
    height: 80%;
}

.footer-projeto ul {
    height: 80%;
    padding: 0;
}

.footer-projeto h4 {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.footer-projeto ul li {
    list-style: none;
}

.footer-projeto ul li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.footer-redes-socias {
    padding: 0;
    height: 80%;
    width: 12rem;
    text-align: center;
}

.footer-redes-socias ul {
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-redes-socias h4 {
    font-weight: 600;
    text-decoration: underline;
}

.footer-redes-socias ul li {
    list-style: none;
    transition: all 300ms ease-in-out;
}

.footer-redes-socias ul li:hover {
    transform: scale(1.2);
}

.footer-redes-socias ul li a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

footer p {
    text-align: center;
    height: 1rem;
}