.nav-sobre {
    border: 1.5px solid #fff;
    border-radius: 1rem;
}

.description-container {
    width: 100%;
    height: 35rem;
    position: absolute;
    top: 10rem;
    display: flex;
    font-family: var(--font-pattern);
}

.description-text {
    z-index: 8;
    position: absolute;
    top: -2rem;
    left: 5%;
    width: 25rem;
    text-align: center;
}

.description-image {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}

.description-image img {
    height: 100%;
    width: 100%;
}

.devs-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: auto;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    padding: 2rem 0;
}

.separator {
    display: none;
}

.dev-cards {
    font-family: var(--font-pattern);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.dev-cards h1 {
    font-family: var(--font-headings);
    font-size: 2rem;
}

.dev-card {
    margin-top: 4em;
    list-style: none;
    padding: 2rem 1rem;
    color: #111;
    width: 15rem;
    height: 35rem;
    transition: all 300ms ease-in-out;
    margin: 0 0.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dev-card img {
    width: 12rem;
    height: 15rem;
    border-radius: 50%;
}

.dev-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.dev-infos i {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 3rem;
    color: var(--background-pattern)
}