{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.html" %}
    <link rel="stylesheet" href={% static 'galeria/css/minw1201px.css' %}>

    <title>Ufpi Noticias | Noticia</title>
</head>

<body>
    <div class="header-container">
        {%include "partials/header.html"%}
    </div>
    {% include "partials/menu.html" %}
    <div id="main_container" class="container">
        <h1>Galeria</h1>
        <div class="images-container">
            {% for image in images %}
            <div class="image-container">
                <img src= {% static image  %} alt="">
            </div>
            {% endfor %}    
        </div>
    </div>
    {% include "partials/footer.html" %}
    <script src={%static "/global/js/script.js"%}></script>
</body>

</html>