{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {%include "partials/head.html"%}
    <link rel="stylesheet" href={% static 'login/css/minw1201px.css' %}>
    <link rel="stylesheet" href={% static 'login/css/maxw900px.css' %}>
</head>

<body>
    <div class="container">

        <script src={% static 'login/js/init.js' %}></script>
    </div>
    <script src={% static 'login/js/switch_mob.js' %}></script>
    <script src={% static 'login/js/script.js' %}></script>

</body>

</html>