{% load static %}
<li class="card-noticia">
    <div class="card-noticia-imagem">
        {% if not noticia.image %}
        <img src="{{noticia.category.image_pattern.url}}" alt="">
        {% else %}
        <img src="{{noticia.image.url}}" alt="">\
        {% endif %}
    </div>
    <div class="card-noticia-descricao">
        <h2>{{ noticia.title }}</h2>
        <p>{{ noticia.content }}</p>
    </div>
    <div class="card-date">
        <p>{{ noticia.time_pass }}</p>
        <p>{{ noticia.date }} </p>
    </div>
</li>