{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'bases/partials/head.html' %}
    <link rel="stylesheet" href="{% static 'admin/ru/css/style.css' %}">
    <title>Painel do RU</title>
</head>

<body>
    {% include 'bases/partials/header.html' %}
    <main>
        <form action="/register/menu/" method="post">
            <div class="inputs-container">
                <div class="menu-container">
                    <select name="menu" id="menu">
                        <option value="0">Almoço</option>
                        <option value="1">Jantar</option>
                    </select>
                    <input type="date" name="date">
                </div>
                <select name="recipe" id="">
                    {% for recipe in recipes %}
                    <option value="{{ recipe.id }}">{{ recipe.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Adicionar</button>
        </form>
    </main>
    {% include 'bases/partials/footer.html' %}
</body>

</html>