{%load static%}

{%include "home/partials/head.html"%}
<body>
    
    <div class="header-container">
        <div class="trapezoid">
            {%include "home/partials/header.html"%}
        </div>
        <div class="cardapio-container">
            {%include "home/partials/cardapio.html"%}
        </div>
    </div>
    <div id="main_container">

        <section id="main_notices" class="main-noticias">
            <h1 class="titulo-noticias">Principais notícias</h1>
            <ul class="cards-conteiner ">
                {%include "home/partials/cards.html"%}
                {%include "home/partials/cards.html"%}
                {%include "home/partials/cards.html"%}
                {%include "home/partials/cards.html"%}
                {%include "home/partials/cards.html"%}
                {%include "home/partials/cards.html"%}
            </ul>
        </section>
        
    </div>

    {%include "home/partials/footer.html"%}
    <script src={%static "/home/js/script.js"%}></script>
</body>
</html>