@media screen and (max-width: 830px) {
    .trapezoid {
        height: 45rem;
        clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    }
    .duvidas-container {
        margin-top: 3rem;
        height: 32rem;
    }
    .duvida-image {
        display: none;
    }
}