.container {
    margin-top: 5rem;
}

.images-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
}

.image-container a {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: #111;
    font-size: .9rem;
}