<header>
    <div class="logo-container">
        <a href="#">
            <div class="logo-box-up">
                <i class="fas fa-book"></i>
                <h2>INFO UFPI</h2>
            </div>
            <div class="logo-box-down"></div>
        </a>
    </div>

    <nav class="nav-container">
        <ul>
            <li class="nav-home"><a class="nav-item" href="/">Home</a></li>
            <li class="nav-NAE"><a class="nav-item" href="/nae/">NAE</a></li>
            <li class="nav-sobre"><a class="nav-item" href="/sobre/">Sobre</a></li>
            <li class="nav-contato"><a class="nav-item" href="/contato/">Contato</a></li>
        </ul>
        <div class="nav-user">
            {% if user %}
            <button class="nav-user-button">Olá {{ user.first_name }}</button>
            {% else %}
            <button class="nav-user-button">Entrar</button>
            {% endif %}
            <i class="fas fa-user"></i>
        </div>
    </nav>
</header>