<section class="form-container">

    <h2>Envie seu pedido</h2>

    <form action="" class="form">
        <div class="duvidas-pesquisa shadow">
            <input type="text" name="nome" id="duvida" class="duvida-input" placeholder="Nome *">
            <button class="duvida-button ">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="duvidas-pesquisa shadow">
            <input type="text" name="email" id="duvida" class="duvida-input" placeholder="E-mail *">
            <button class="duvida-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="form-lateral">
            <input type="tel" name="" id="" placeholder="Telefone" class="form-telefone">
            <select name="topico" id="" class="form-topico">
                <option value="">Tópico</option>
                <option value="">RU</option>
                <option value="">NAE</option>
                <option value="">BAE</option>
            </select>
        </div>
        <textarea name="sugestao" id="" class="form-description" placeholder="Sugestão ou mensagem"></textarea>
        <div class="submit-area">
            <button type="submit">Enviar mensagem</button>
        </div>
    </form>

</section>