<li class="card-noticia">
    <div class="card-noticia-imagem">
        <img src="https://images.pexels.com/photos/1454360/pexels-photo-1454360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
    </div>
    <div class="card-noticia-descricao">
        <h2>Titulo da notícia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
    </div>
    <div class="card-date">
        <p>publicado há xx horas</p>
        <p>12/12/2021</p>
    </div>
</li>