.nav-home {
    background: var(--lvl3);
    border-radius: 1rem;
    border-right: 1.5px solid #fff;
}

.cardapio-container {
    font-family: var(--font-pattern);
    top: 8rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 35rem;
    background-color: transparent;
    padding: 1rem 0;
    color: #fff;
}

.cardapio-descricao {
    width: 20rem;
}

.cardapio-descricao h1 {
    margin: 0;
    font-family: var(--font-pattern);
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    padding: 0;
    width: 50%;
}

.cardapio-descricao-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: circle;
    width: 100%;
    height: 20rem;
}

.cardapio-descricao-items ul {
    padding-left: 4rem;
}

.cardapio-descricao-items h3 {
    height: 1rem;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.cardapio-imagem {
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem
}

.cardapio-imagem img {
    width: 480px;
    height: 480px;
}

.main-noticias {
    border-top: 1px solid #111;
    padding-bottom: 2rem;
    border-bottom: 1px solid #111;
    width: 90%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.titulo-noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 1.5rem;
    border: 1px solid #111;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
}

.cards-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 1rem;
    width: 100%;
    height: 30rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    margin-top: -1rem;
    list-style: none;
}

.cards-container::-webkit-scrollbar {
    display: none;
    width: 1px;
    height: 10px;
    transition: all 300ms ease-in-out;
}

.cards-container::-webkit-scrollbar-track {
    transition: all 300ms ease-in-out;
    background: var(--lvl4);
}

.cards-container::-webkit-scrollbar-thumb {
    transition: all 300ms ease-in-out;
    background-color: var(--background-pattern);
    border-radius: 10rem;
}

.card-noticia {
    list-style: none;
    padding: 1rem 1rem;
    color: #111;
    width: 20rem;
    height: 27rem;
    transition: all 300ms ease-in-out;
    margin: 0 0.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.separator {
    width: 1px;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.separator div {
    background: #111;
    height: 80%;
    width: 100%;
}

.card-noticia input {
    display: none;
}

.card-noticia:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px #111;
}

.card-noticia-imagem {
    width: 267px;
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-noticia-imagem img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.card-noticia-descricao {
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem
}

.card-noticia-descricao p {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0
}

.card-noticia-descricao p::-webkit-scrollbar {
    display: none;
    width: 1px;
    height: 10px;
    transition: all 300ms ease-in-out;
}

.card-noticia-descricao p::-webkit-scrollbar-track {
    transition: all 300ms ease-in-out;
    background: var(--lvl4);
}

.card-noticia-descricao p::-webkit-scrollbar-thumb {
    transition: all 300ms ease-in-out;
    background-color: var(--background-pattern);
    border-radius: 10rem;
}

.card-noticia-descricao h2 {
    height: auto;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
}

.card-noticia-descricao p {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.card-date {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1rem;
    font-size: 14px;
    font-weight: 400;
}