<header>
    <div class="logo-container">
        <a href="#">
            <div class="logo-box-up">
                <i class="fas fa-book"></i>
                <h2>INFO UFPI</h2>
            </div>
            <div class="logo-box-down"></div>
        </a>
    </div>

    <nav class="nav-container">
        <ul>
            <li class="nav-home"><a href="/">Home</a></li>
            <li class="nav-NAE"><a href="#">NAE</a></li>
            <li class="nav-sobre"><a href="/sobre/">Sobre</a></li>
            <li class="nav-contato"><a href="/contato/">Contato</a></li>
        </ul>
        <div class="nav-user">
            <button class="nav-user-button">Olá Usuário</button>
            <i class="fas fa-user"></i>
        </div>
    </nav>
</header>