@media screen and (max-width: 490px) {
    .pesquisa-container {
        width: 100%;
    }
    .pesquisa-container h1 {
        font-size: 2rem;
        width: 100%;
    }
    .duvidas-container {
        width: 90%;
    }
    .duvidas-pesquisa {
        width: 90%;
    }
    .form-container {
        width: 90%;
    }
    .form-lateral {
        width: 90%;
        flex-direction: column;
    }
    .form-telefone {
        width: 85%;
        margin-bottom: .75rem;
    }
    .form-topico {
        width: 100%;
        margin-bottom: .2rem;
        height: 2.6rem;
    }
    .form-description {
        width: 82%;
        height: 15rem;
    }
    .form {
        height: 40rem;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}