{% load static %}

<section class="pesquisa-container">
    <h1>FALE CONOSCO</h1>
    <div class="duvidas-pesquisa">
        <input type="text" name="duvida" id="duvida" class="duvida-input" placeholder="Como podemos te ajudar?">
        <button class="duvida-button">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <ul class="sugestions">
        <li class="sugestion">Desinscrever email</li>
        <li class="sugestion">Deletar conta</li>
    </ul>
</section>
<div class="duvida-image">
    <img src={% static "contato/img/Estudante PNG Transparente Sem Fundo (1) 1.png" %} alt="">
</div>